name: Run Serenity Tests and Generate Report

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 23
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '23'

      - name: Grant execute permission to Gradle wrapper
        run: chmod +x gradlew

      - name: Build and run tests
        run: ./gradlew clean test aggregate

      - name: Publish test results
        uses: actions/upload-artifact@v2
        with:
          name: serenity-reports
          path: target/site/serenity

      - name: Cleanup
        run: ./gradlew clean